body {
    background-image: linear-gradient(to top, rgb(100 100 211), #6fae6f);
    color: aliceblue;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .head {
    text-align: center;
    font-size: 30px;
    color: #98cfcf
}

.container .head h1 {
    font-size: 45px;
    color: #98cfcf
}

.buttons {
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: end;
    gap: 22px;
    height: 180px;
}

.b1 {
    background-image: linear-gradient(to right, rgb(207, 104, 104), rgb(50, 50, 39));
    display: flex;
    align-items: end;
    width: 160px;
    justify-content: center;
    border-radius: 9px;
}

.b2 {
    background-image: linear-gradient(to right, rgb(207, 104, 104), rgb(50, 50, 39));
    display: flex;
    align-items: end;
    width: 160px;
    justify-content: center;
    border-radius: 9px;
}

.b3 {
    background-image: linear-gradient(to right, rgb(207, 104, 104), rgb(50, 50, 39));
    display: flex;
    align-items: end;
    width: 160px;
    justify-content: center;
    border-radius: 9px;
}

.buttons .b1 h2 {
    color: #ce9c2d;
}

.buttons .b2 h2 {
    color: #ce9c2d;
}

.buttons .b3 h2 {
    color: #ce9c2d;
}

#but1 {
    cursor: pointer;
    position: absolute;
    align-self: center;
    margin-bottom: 30px;
    border: 0px;
    border-radius: 9px;
}

#but2 {
    cursor: pointer;
    position: absolute;
    align-self: center;
    margin-bottom: 30px;
    border: 0px;
    border-radius: 9px;
}

#but3 {
    cursor: pointer;
    position: absolute;
    align-self: center;
    margin-bottom: 30px;
    border: 0px;
    border-radius: 9px;
}

#but1 img {
    height: 100px;
    width: 100px;
}

#but2 img {
    height: 100px;
    width: 100px;
}

#but3 img {
    height: 100px;
    width: 100px;
}

.JS {
    display: block;
    border: 4px solid rgb(111, 84, 26);
    border-radius: 10px;
    height: 220px;
    width: 780px;
    justify-self: center;
    padding: 20px;
    overflow-y: auto;
    color: darkturquoise;
}